<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Layout Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header>
  <h1 class="text-3xl font-bold underline">Very Nice!</h1>
</header>
<nav>
  <ul>
    <li><a>Home</a></li>
    <li><a>Lists</a></li>
    <li><a>About</a></li>
  </ul>
</nav>
<section id="content" layout:fragment="content">

</section>
<footer>
  &copy;Ideal
</footer>
</body>
</html>
