<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
  <title>Layout Page</title>
  <link rel="stylesheet" href="/css/style.dev.tailwind.css" th:href="@{/css/style.dev.tailwind.css}"/>
</head>
<body>
<header>
  <img src="" alt="">
</header>
<nav>
  <ul>
    <li><a>Home</a></li>
    <li><a>Lists</a></li>
    <li><a>About</a></li>
  </ul>
</nav>
<section id="content" layout:fragment="content">

</section>
<footer>
  &copy;Ideal
</footer>
</body>
</html>
